.header {
  font-size: xx-large;
}

ol {
  font-size: x-large
}

.text {
  border-radius: 5px;
  border: 2px solid black;
}

.correct {
  border: 2px dotted green;
  color: green;
}

.none {
  display: none;
}

.wrong {
  border: 2px dotted red;
  color: red;
}
.wrong span {
  font-size: xx-large;
}
